<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

<!--
    <h2 class="footer-heading">{{ site.title | escape }}</h2>
-->

<div class="footer-col-wrapper footer-col"><!-- not using columns anymore, but .footer-col pads the space as desired -->

      <p>
        {%- include social.html -%}
      </p>

      <p>
        <a href="https://aaronsnow.net">aaronsnow.net</a>. Almost nothing to see here.
      </p>
    </div>

  </div>

</footer>
<script data-goatcounter="https://aaronsnow-net.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
